<div *ngIf="viewMode; else editable">
    <div *ngIf="currentStudent.id">
      <h4>Student</h4>
      <div>
        <label><strong>Name:</strong></label> {{ currentStudent.name }}
      </div>
  
      <a
        class="badge badge-warning"
        routerLink="/students/{{ currentStudent.id }}"
      >
        Edit
      </a>
    </div>
  
    <div *ngIf="!currentStudent">
      <br />
      <p>Please click on a Tutorial...</p>
    </div>
  </div>
  
  <ng-template #editable>
    <div *ngIf="currentStudent.id" class="edit-form">
      <h4>Student</h4>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentStudent.name"
            name="name"
          />
        </div>
      </form>
  
  
      <button class="badge badge-danger mr-2" (click)="deleteStudent()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateStudent()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentStudent.id">
      <br />
      <p>Cannot access this Student...</p>
    </div>
  </ng-template>
  