<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Gallas</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Expose</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add Expose</a>
      </li>
    </div>
    
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="students" class="nav-link">Student</a>
      </li>
      <li class="nav-item">
        <a routerLink="addS" class="nav-link">Add Student</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
